{% extends "base.njk" %}

{% block content %}
<section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 mb40 text-center">
        <h2>{{ title }}</h2>
        <p>{{ postDatePrefix }} {{ dateDisplay }}</p>
      </div>
      <div class="col-md-12">
        {{ content | safe }}
      </div>
    </div>
  </div>
</section>
{% endblock %}
