<footer class="probootstrap-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>{{ footerTemplate }} <a href="https://uicookies.com">uiCookies</a>.</p>
        <ul class="probootstrap-social">
          <li><a href="{{ socialLinks.youtube }}"><i class="icon-youtube"></i></a></li>
          <li><a href="{{ socialLinks.linkedin }}"><i class="icon-linkedin"></i></a></li>
          <li><a href="{{ socialLinks.github }}"><i class="icon-github2"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
</div>
